@media (min-width: 320px) {
  html {
    font-family: $fontReg;
  }

  a {
    text-decoration: none;
  }

  button {
    &:hover {
      cursor: pointer;
    }
  }

  .top-menu {
    border-bottom: 1px solid #d9fff5;

    button {
      background-color: transparent;
    }

    &__wrapper {
      height: 88px;
    }

    &__part {
      display: flex;
      justify-items: center;
      align-items: center;
      gap: 1rem;
    }
  }

  section,
  .expand {
    background-color: $bgColorMain;
  }

  .divider {
    width: 2px;
    height: 2rem;

    background: $bgColorSecond;
    border-radius: 1px;

    &--hide {
      display: none;
    }
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    padding: 0 1rem;
  }

  .main {
    &__wrapper {
      display: block;

      padding-right: 0;
      padding-top: 1.5rem;
      padding-bottom: 1rem;
    }

    &__header {
      &__wrapper {
        padding-left: 0;
      }
    }
  }

  .title {
    display: flex;
    position: relative;
    align-items: center;
    margin-top: 0;

    font-size: 1.7rem;
    font-family: $fontBold;
    color: $textColorSecond;

    &::before {
      display: block;
      content: '';
      position: absolute;
      left: -16px;

      width: 4px;
      height: 40px;

      background: $shadowColor;

      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
    }
  }

  .slider-menu {
    display: flex;
    overflow-x: auto;
    gap: 1.5rem;

    margin: 1.5rem 0;

    -ms-overflow-style: none;
    scrollbar-width: none;

    &::after {
      display: block;
      position: absolute;
      content: '';
      right: 0px;

      width: 1.5rem;
      height: 2.5rem;

      background: $bgGradient;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;

      font-family: $fontMed;
      font-weight: 500;
      color: $textColorMain;

      &:last-child {
        margin-right: 1rem;
      }

      &--selected {
        width: 15.38rem;
        padding: 0.5rem 0;

        border: 2px solid $borderColorItemSelected;
        border-radius: 6px;
        background: white;
      }
    }
  }

  .about-us {
    padding-left: 0;

    font-size: 0.875rem;
    line-height: 1.125rem;
    letter-spacing: 0.2px;
    color: $textColorSecond;

    &__wrapper {
      display: flex;
      flex-direction: column;
    }

    &__text {
      margin-right: 1rem;
      height: 110px;
      overflow: hidden;

      &--expanded {
        overflow: visible;
        height: 350px;
      }

      .text {
        &--hidden {
          display: none;
        }

        &--visible {
          display: inline;
        }

        &__show-more {
          display: none;

          &--visible {
            display: inline;
          }
        }
      }
    }

    &__expand {
      position: relative;
    }

    &__bg-image {
      padding: 0;
      margin-left: -1rem;

      img {
        width: 320px;
        height: 180px;
      }
    }
  }

  .expand {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    margin-bottom: 0.75rem;

    font-size: 1rem;
    font-weight: 600;
    color: $textColorSecond;
  }

  .expanded {
    margin-top: 0.5rem;
  }
}
@media (min-width: 768px) {
  .top-menu {
    &__part {
      .btn,
      .divider {
        display: block;
        visibility: visible;
        height: auto;
      }

      .divider {
        height: 2rem;
      }
    }
  }

  .wrapper {
    padding: 0 1.5rem;
  }

  .main {
    &__wrapper {
      padding-right: 0;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }

    &__header {
      &__title {
        &::before {
          left: -24px;
        }
      }
    }
  }

  .about-us {
    &__wrapper {
      flex-direction: row;
    }

    &__text {
      margin-right: 0;
      height: 163px;

      line-height: 1.2rem;
      span {
        &:first-child {
          display: inline;
        }
      }
    }

    &__bg-image {
      margin-right: 1.5rem;
      img {
        width: 360px;
        height: 210px;

        border-radius: 5px;
      }
    }

    &__wrapper {
      gap: 3rem;
    }
  }

  .main {
    &__header {
      &__wrapper {
        padding-left: 0;
      }
    }
  }

  .slider-menu {
    margin: 2rem 0;
  }

  .expand {
    margin: 0.625rem 0 0 0;
  }
}

@media (min-width: 1366px) {
  .header,
  .main {
    max-width: 1046px;
    height: fit-content;
    float: right;
  }

  .main-wrapper {
    max-width: 1366px;
    margin: 0 auto;
  }

  .top-menu {
    display: none;
  }

  .wrapper {
    padding: 0 2rem;
    padding-bottom: 2.625rem;
  }

  div.main {
    &__wrapper {
      padding-top: 2.625rem;
    }

    &__header {
      &__wrapper {
        display: flex;
        justify-content: space-between;

        padding-left: 0;
        padding-right: 0;
      }

      &__btns {
        display: flex;
        justify-content: center;
        gap: 2rem;
        visibility: visible;
        height: auto;

        .btn {
          display: flex;
          align-items: center;
          gap: 0.5rem;

          background-color: $bgColorMain;

          font-family: $fontMed;
          font-size: 1rem;
          font-weight: 500;
        }
      }
    }
  }

  .slider-menu {
    overflow: auto;
    flex-wrap: wrap;
    margin: 0.5rem 0 1.1rem 0;

    &::after {
      display: none;
    }

    &__item {
      &:last-child {
        margin-left: 1.1rem;
      }
    }
  }

  .about-us {
    &__text {
      height: 222px;

      &--expanded{
        height: 400px;
      }
      span.text {
        &--hidden {
          display: inline;
        }
      }
    }

    &__bg-image {
      margin-right: 0;

      img {
        width: 532px;
        height: 307px;
      }
    }
  }

  .title {
    &::before {
      left: -32px;
    }
  }
}
