aside{
    max-width: 320px;

    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 
                16px 0px 52px rgba(14, 24, 80, 0.2);

    font-family: 'TT Lakes Regular';
    float: left;
}

li{
    list-style: none;
}

a{
    color: #1B1C21;
}

.aside-header{
    button{
        opacity: 1;
        transition: opacity 0.25s ease-out;
        &:hover,
        &:focus{
            opacity: 0.8;
        }
        background-color: white;
    }

    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        padding: 1.5rem 1.5rem 2.6rem 1.5rem;
    }
}

.header-part{
    display: flex;
    gap: 1rem;

   &__btn-close{
    display: none;
   }
}

.aside-menu{
    &__main-wrapper{
        display: flex;
        flex-direction: column;
        padding: 0 1.5rem;
    }
}

.nav{
    &__wrapper{
        margin-bottom: 268px;
        padding: 0;
    }

    &__link{
        display: inline-block;
        margin-bottom: 2rem;

        font-family: 'TT Lakes Medium';
        font-size: 1rem;
        letter-spacing: -0.2px;

        &--current{
            position: relative;
            color: #7E7E82;

            &::before{
                display: block;
                content: "";
            
                position: absolute;
                top: -7px;
                left: -24px;
            
                width: 0.25rem;
                height: 2rem;
            
                border-radius: 5px;
                background-color: #41F6D7;
            }
        }
    }
}

.contact{
    &__btns{
        display: flex;
        gap: 1rem;
        margin-bottom: 1rem;

        button{
            opacity: 1;
            transition: opacity 0.25s ease-out;
            &:hover,
            &:focus{
                opacity: 0.8;
            }
            background-color: white;
        }
    }

    &__email{
        display: inline-block;
        margin-bottom: 1rem;
    
        font-family: 'TT Lakes Medium';
    }

    &__phone{
        display: inline-block;
        margin-bottom: 2.5rem;
    
        font-family: 'TT Lakes Bold';
        font-size: 1.5rem;
    }
}

.page-lang{
    &__item{
        font-family: 'TT Lakes Medium';
    }

    &--selected{
        color: #7E7E82;
    }
}

@media(min-width:1366px){
    .aside-menu{
        display: block;
    }
}