@media (min-width: 320px) {
  .repair-type {
    &__items {
      padding: 1.5rem 1rem;

      &::after {
        display: block;
        position: absolute;
        top: 105px;
        z-index: 1;
        content: '';
        right: 0px;

        width: 1.5rem;
        height: 166px;

        background: linear-gradient(
          270deg,
          #f8f8f8 16.84%,
          rgba(248, 248, 248, 0.0001) 100%
        );
      }
    }

    &__expand {
      display: none;
    }
  }

  .repair-items {
    &__block {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      height: 8rem;
      width: 13rem;
      padding: 1rem 1rem;
      background: #ffffff;
      border: 1px solid #eaeaea;
      border-radius: 6px;

      background-color: #ffffff;
    }

    &__button {
      content: "";
      width: 40px;
      height: 40px;
      background-image: url(../img/go.svg);
      background-color: transparent;
      align-self: flex-end;
    }
  }
}

@media (min-width: 768px) {
  .repair-type {
    height: auto;

    &__items {
      padding: 1.5rem 1.5rem;

      &::after {
        display: none;
      }
    }

    &__expand {
      display: flex;
      font-family: $fontMed;
      position: relative;
      margin-left: 1.5rem;
      vertical-align: middle;
      transition: translateY 1s ease-in-out;
      margin-top: 24px;
      background-color: transparent;

      &__icon {
        position: absolute;
        top: -4px;
        left: -28px;
        transition: all 0.3s ease-in-out;

        &--rotated {
          transform: rotate(180deg);
        }
      }
    }
  }

  div.repair-items {
    &__wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      max-height: 164px;
      gap: 16px 24px;
      overflow: hidden;
      transition: all 1s;

      &--expanded {
        max-height: 700px;
      }
    }

    &__block {
      visibility: hidden;
      width: auto;
      min-width: 10rem;

      button {
        background-color: transparent;
      }

      &--show {
        display: flex;
        visibility: visible;
      }
    }
  }
}

@media (min-width: 1366px) {
  .repair-type {
    &__items {
      padding: 1.5rem 2rem;
    }
  }

  div.repair-items {
    &__wrapper {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
